.application-view.ng-enter.ng-enter-active {
    opacity: 1;
}

.application-view.ng-enter {
    opacity: 0;
    transition-duration: 150ms;
    transition-property: opacity;
    transition-timing-function: linear;
}

#application-container {
    background-color: #0088FF;
    background-color: var(--primary-color, #000033);
    min-height: 100vh;
}

#application-container #body-container #body-content {
    -webkit-overflow-scrolling: touch;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#application-container .nav-bar-dropdown{
    background-color: #0088FF;
    background-color: var(--primary-color, #0088FF);
    color: #FFFFFF;
}

@media(min-width:600px) {
    #application-container #body-container {
        background-color: #FFFFFF;
        color: #000000;
        position: absolute;
        left: 4px;
        right: 4px;
        bottom: 4px;
        top: 40px;
        border-radius: 2px;
        overflow: hidden;
    }

    #ApplicationColumn .nav-bar-dropdown {
        border-radius: 0 0 0 0;
        transition: transform 195ms cubic-bezier(0.4, 0.0, 0.6, 1), border-radius 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    }

    #ApplicationColumn .nav-bar-dropdown.expanded {
        transition: transform 225ms cubic-bezier(0.0, 0.0, 0.2, 1), border-radius 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    }

    #ApplicationColumn.expandToFullScreen .nav-bar-dropdown {
        border-radius: 0 0 10px 0;
    }

    #application-container .nav-bar-dropdown ul li:active:after {
        padding: 0;
        margin: 0;
        opacity: 0.5;
        transition: 0s
    }
}

@media(max-width:599.999999999px){
    #application-container #body-container {
        background-color: #FFFFFF;
        color: #000000;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 40px;
        border-radius: 0;
        overflow: hidden;
    }

    #application-container .nav-bar-dropdown ul li.mobileTouched:after {
        padding: 0;
        margin: 0;
        opacity: 0.5;
        transition: 0s
    }
}
