#login-form h1, #login-form .button-layout {
    text-align: center;
}

#login-form md-content{
    background: none;
}

#login-form md-input-container {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 5px;
    margin-top: 10px;
}

.md-button.md-raised:not([disabled]) {
    background-color: #009900;
    color: #FFFFFF;
}

md-input-container .md-input {
    border-color: #009900;
}

md-input-container .md-placeholder, md-input-container label:not(.md-no-float):not(.md-container-ignore) {
    color: #888888;
}