#details-container {
    background-color: #000033;
    min-height: 100vh;
}

#details-container #menu-bar{
    color: #FFFFFF;
    padding:4px;
}

#details-container #menu-bar .left {
    float:left;
}

#details-container #menu-bar .middle {
    clear:both;
    width: 100%;
    text-align:center;
}

#details-container #menu-bar .right {
    float:right;
}

#details-container #body-container {
    background-color: #FFFFFF;
    color: #000000;
    position: absolute;
    padding: 10px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    top: 40px;
    border-radius: 2px;
    overflow-y: scroll;
}